# Javascript
*.js text eol=lf
*.jsx text eol=lf

# Typescript
*.ts text eol=lf
*.tsx text eol=lf

# Style
*.scss text eol=lf
*.sass text eol=lf
*.css text eol=lf

# Html
*.html text eol=lf
*.html.ejs text eol=lf

# Others
*.json text eol=lf
