.skill-group {
  display: flex;
  flex-direction: column;

  > h6 {
    align-self: flex-start;
    color: white;
    margin-top: 10px;
  }

  hr {
    width: 100%;
    border-top: 1px solid #36352f;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    margin: 0;
  }
}
