.app {
  text-align: center;
  min-height: 100vh;
  background: rgb(2 0 36);
  background-color: #131313;
}

.app-header {
  // background-size: 20px 20px;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: repeat(3, calc(100% / 3));
  padding: 20px;
}
