.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background-color: #131313;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-size: 20px 20px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.App-main > div {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.App-main .ExpBox {
  margin: 10px;
  font-size: 1.4rem;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
