.home {
  text-align: center;
  min-height: 100vh;
  background: rgb(2 0 36);
  background-color: #131313;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-main {
  display: flex;
  padding: 20px;
}
