.SkillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SkillBox p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

.SkillBox img {
    height: 125px;
    width: 125px;
}
