.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
    font-family:
      "Lucida Sans",
      "Lucida Sans Regular",
      "Lucida Grande",
      "Lucida Sans Unicode",
      Geneva,
      Verdana,
      sans-serif;
    margin: 0;
  }
}
